@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; }

h1 {
  font-weight: 700;
  margin-bottom: 1.4rem; }

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.4rem; }

p {
  margin-bottom: 1.4rem; }

ul {
  list-style: none; }

input {
  border: none;
  border-radius: 1.4rem;
  font-size: 2.2rem;
  padding: 2.8rem;
  box-sizing: border-box; }
  input:focus {
    margin: -0.3rem;
    box-sizing: border-box;
    outline: none;
    border: 0.3rem solid #004fbc; }

@media (max-width: 400px) {
  .button {
    font-size: 1rem !important; }

  h2 {
    font-size: 1.3rem; }

  body {
    font-size: 10px; } }
.navbar {
  align-items: center;
  color: #9e9aa7;
  display: flex;
  font-size: 1.494rem;
  font-weight: 700; }
  .navbar ul {
    display: flex; }
    .navbar ul li {
      padding: 1.4rem; }
  .navbar .nav_Auth {
    flex: 2;
    margin-right: 2.8rem; }
    .navbar .nav_Auth ul {
      justify-content: flex-end; }
      .navbar .nav_Auth ul li {
        margin-left: 1.4rem; }
  .navbar .nav_Body {
    margin-left: 1.4rem;
    flex: 3; }
  .navbar .nav_Brand {
    margin-left: 1.4rem;
    flex: 1; }

.wrapper {
  margin-top: 4.2rem;
  padding: 0 14rem;
  overflow: hidden;
  box-sizing: content-box; }

.primary-btn {
  background-color: #2acfcf;
  border-radius: 8rem;
  color: white;
  height: 1.7rem;
  text-align: center;
  width: 9rem; }

.btn--lg {
  font-size: 2.2rem;
  padding: 1.2rem 4rem; }

.header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 7rem;
  overflow: hidden; }
  .header_Content {
    display: flex;
    flex: 1;
    font-size: 2.2rem;
    padding-top: 5.6rem;
    padding-right: 5.6rem; }
    .header_Content h2 {
      font-size: 7.48rem;
      line-height: 8rem;
      margin-bottom: 0.5rem; }
  .header p {
    color: #9e9aa7; }
  .header_Get-started {
    margin-top: 5.6rem;
    font-weight: 700; }
    .header_Get-started a {
      text-decoration: none; }
  .header_SVG {
    margin-right: -27.5rem; }
  @media screen and (max-width: 1300px) {
    .header_Content {
      flex: none; }
    .header_SVG {
      flex: 1; } }

.shorten-lnk {
  background-color: #3b3054;
  background-image: url("/images/bg-shorten-desktop.svg");
  overflow: hidden;
  margin-top: 2.5rem; }
  .shorten-lnk_Input-group {
    display: flex;
    flex: 1;
    justify-content: space-around; }
  .shorten-lnk input {
    flex: 5;
    color: #35323e; }
  .shorten-lnk span {
    margin-left: 2.8rem;
    flex: 1;
    font-size: 1.98rem;
    padding: 2.8rem 3.5rem;
    border-radius: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }

.box {
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
  padding: 5rem 7rem;
  margin-bottom: 10rem;
  width: 85%;
  height: 7rem; }

.body {
  margin-bottom: 24rem;
  background-color: #f4f4f6;
  margin-top: -18.5rem;
  padding-top: 20rem;
  position: relative;
  z-index: -1; }
  .body_Box_Fixed {
    margin: 0 27rem;
    text-align: center; }
    .body_Box_Fixed h1 {
      font-size: 3.96rem; }
    .body_Box_Fixed p {
      line-height: 3.2rem;
      color: #9e9aa7; }

/*# sourceMappingURL=index.css.map */
