@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; }

h1 {
  font-weight: 700;
  margin-bottom: 1.4rem; }

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.4rem; }

p {
  margin-bottom: 1.4rem; }

ul {
  list-style: none; }

input {
  border: none;
  border-radius: 1.4rem;
  font-size: 2.2rem;
  padding: 2.8rem;
  box-sizing: border-box; }
  input:focus {
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 0 0 2pt #004fbc; }

@media (max-width: 400px) {
  .button {
    font-size: 1rem !important; }

  h2 {
    font-size: 1.3rem; }

  body {
    font-size: 10px; } }
.navbar {
  align-items: center;
  color: #9e9aa7;
  display: flex;
  font-size: 1.494rem;
  font-weight: 700; }
  .navbar ul {
    display: flex; }
    .navbar ul li {
      padding: 1.4rem; }
  .navbar .nav_Auth {
    flex: 2;
    margin-right: 2.8rem; }
    .navbar .nav_Auth ul {
      justify-content: flex-end; }
      .navbar .nav_Auth ul li {
        margin-left: 1.4rem; }
  .navbar .nav_Body {
    margin-left: 1.4rem;
    flex: 3; }
  .navbar .nav_Brand {
    margin-left: 1.4rem;
    flex: 1; }

.wrapper {
  margin-top: 4.2rem;
  padding: 0 14rem;
  overflow: hidden;
  box-sizing: content-box; }

.primary-btn {
  background-color: #2acfcf;
  border-radius: 8rem;
  color: white;
  height: 1.7rem;
  text-align: center;
  width: 9rem; }

.btn--lg {
  font-size: 2.2rem;
  padding: 1.2rem 4rem; }

.header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 7rem;
  overflow: hidden; }
  .header_Content {
    display: flex;
    flex: 1;
    font-size: 2.2rem;
    padding-top: 5.6rem;
    padding-right: 5.6rem; }
    .header_Content h2 {
      font-size: 7.48rem;
      line-height: 8rem;
      margin-bottom: 0.5rem; }
  .header p {
    color: #9e9aa7; }
  .header_Get-started {
    margin-top: 5.6rem;
    font-weight: 700; }
    .header_Get-started a {
      text-decoration: none; }
  .header_SVG {
    margin-right: -27.5rem; }
  @media screen and (max-width: 1300px) {
    .header_Content {
      flex: none; }
    .header_SVG {
      flex: 1; } }

.shorten-lnk {
  background-color: #3b3054;
  background-image: url("/images/bg-shorten-desktop.svg");
  overflow: hidden;
  margin-top: 2.5rem; }
  .shorten-lnk_Input-group {
    display: flex;
    flex: 1;
    justify-content: space-around; }
  .shorten-lnk input {
    flex: 5;
    color: #35323e; }
  .shorten-lnk span {
    margin-left: 2.8rem;
    margin-right: -12.6rem;
    flex: 1;
    font-size: 1.98rem;
    padding: 2.8rem 3.5rem;
    border-radius: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }

.box {
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
  padding: 5rem 7rem;
  margin-bottom: 10rem;
  width: 85%;
  height: 7rem; }

.body {
  padding-top: 20rem; }
  .body_Box_Fixed {
    margin: 0 27rem;
    text-align: center; }
    .body_Box_Fixed h1 {
      font-size: 3.96rem; }
    .body_Box_Fixed p {
      line-height: 3.2rem;
      color: #9e9aa7; }

.linksAndBody {
  background-color: red;
  z-index: 11;
  position: relative; }

.cards {
  margin-top: 9rem;
  display: flex; }

.card {
  border-radius: 0.7rem;
  margin: 0 1.4rem;
  max-width: 50rem;
  background-color: white; }
  .card .logo {
    background-color: #3b3054;
    padding: 2.1rem;
    border-radius: 100%;
    margin: -4.5rem 0 -1rem 3.2rem; }
  .card_Body {
    padding: 3.22rem; }
    .card_Body h2 {
      color: #35323e;
      margin-bottom: 2rem; }
    .card_Body p {
      color: #9e9aa7;
      font-size: 1.413rem;
      line-height: 2.52rem;
      font-weight: 500; }

.Card_One {
  margin-top: 1.2rem;
  margin-bottom: 21rem; }

.Card_Two {
  margin-top: 5.8rem;
  margin-bottom: 16.2rem; }

.Card_Three {
  margin-top: 10rem;
  margin-bottom: 12rem; }
  .Card_Three img {
    max-width: 40px;
    max-height: 40px; }

.center-line {
  position: absolute;
  top: 58.5rem;
  left: 20rem;
  z-index: -1;
  background-color: #2acfcf;
  height: 0.84rem;
  width: 50%; }
  @media screen and (max-width: 1300px) {
    .center-line {
      height: 12.6rem;
      width: 2.8rem;
      background-color: red; } }

.footerHeading {
  background-image: url("/images/bg-boost-desktop.svg");
  background-color: #3b3054;
  text-align: center;
  font-weight: 700;
  color: white;
  padding-bottom: 7.5rem; }
  .footerHeading h1 {
    font-size: 3.74rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem; }
  .footerHeading span {
    font-size: 1.76rem; }

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  margin-top: 0;
  padding-bottom: 6rem;
  color: white;
  background-color: #232127; }
  .footer .brand {
    flex: 3; }

.ul-lists {
  flex: 4;
  margin-left: -7.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.23rem; }
  .ul-lists ul {
    margin-left: 7.84rem; }
    .ul-lists ul li {
      line-height: 3.15rem;
      color: #bfbfbf; }
  .ul-lists ul h4 {
    font-size: 1.35rem;
    color: white;
    font-weight: 700;
    margin-bottom: 1.2rem; }

.social-icons {
  margin-top: -0.125rem;
  margin-left: 8rem;
  flex: 2; }
  .social-icons ul {
    display: flex; }
    .social-icons ul li {
      margin: 0 1.1rem; }

#error {
  position: relative;
  font-size: 1.44rem;
  color: #f46262;
  left: -79.5rem;
  top: 8rem; }

.hide {
  opacity: 0; }

#link-alert {
  color: red;
  border: 3px solid red; }

.link-container {
  background-color: red;
  position: relative;
  z-index: -1;
  display: flex; }
  .link-container p {
    flex: 5; }

.linksList {
  padding: 0 14rem;
  position: relative;
  z-index: 105;
  background-color: rebeccapurple; }

/*# sourceMappingURL=index.css.map */
