@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");

// ==== >> Layout << ====
$mobile-max-width: 37.5rem;
$desktop-max-width: 128rem;

// ==== >> Colors << ====
// Primary
$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);

// Secondary
$Red: hsl(0, 87%, 67%);

// Neutral
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);
$Dark-Gray: #777777;
$Light-Gray: #f9f9f9;

// ==== >> Font-Family << ====
$font-family: "Poppins";
$medium-wt: 500;
$bold-wt: 700;

// ==== >> Font-sizes << ====
$base-font-size: 1.8rem;
$large-font-size: 2.2rem;

// ==== >> Spacing << ====
$space: 1.4rem;

// ==== >> Inputs << ====
$input-spacing: 1rem;
