.body {
  // background-color: lighten($Very-Dark-Blue, 74);
  // margin-top: -18.5rem;
  padding-top: 10rem;
  // position: relative;
  // z-index: -1;
  &_Box {
    &_Fixed {
      margin: 0 27rem;
      text-align: center;
      h1 {
        font-size: $large-font-size * 1.8;
      }
      p {
        line-height: 3.2rem;
        color: $Grayish-Violet;
      }
    }
  }
}

.linksAndBody {
  background-color: lighten($Very-Dark-Blue, 74);
  // background-color: yellow;
  z-index: 11;
  // top
  position: relative;
}
