.primary-btn {
  background-color: $Cyan;
  border-radius: 8rem;
  color: white;
  height: 1.7rem;
  text-align: center;
  width: 9rem;
}

.btn--lg {
  font-size: $large-font-size;
  padding: 1rem 5rem;
}
