.ul-lists {
  flex: 4; //
  margin-left: -7.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.23rem;
  ul {
    margin-left: $space * 5.6;
    li {
      line-height: 3.15rem;
      color: $Gray;
    }
  }
  ul h4 {
    // background-color: red;
    font-size: 1.35rem;
    color: white;
    font-weight: $bold-wt;
    margin-bottom: 1.2rem; //
  }
}
